datasets==4.4.1
python-dotenv>=1.0.0
jaxtyping==0.3.3
transformer-lens==2.16.1
transformers==4.57.3
wandb==0.21.2
matplotlib>=3.7.0
seaborn>=0.12.0
openai>=1.0.0
together>=1.0.0
sentence-transformers>=2.2.0
simple-parsing>=0.1.0